

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 d-md-none footer-logo">
                    <img src="~/assets/images/portal/logo.png" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="footer-left">
                        <h3>CỔNG THÔNG TIN CÁC KHU CÔNG NGHIỆP TỈNH VĨNH PHÚC</h3>
                        <ul>
                            <li>Cơ quan chủ quản: Ủy ban nhân dân tỉnh Vĩnh Phúc.</li>
                            <li>Trụ sở: số 38 và 40, đường Nguyễn Trãi, phường Đống Đa, TP Vĩnh Yên, tỉnh Vĩnh Phúc.</li>
                            <li>SĐT: 0211.3861169, Fax: 0211.3861743.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="footer-right">
                        <h3>Số lượt truy cập</h3>
                        <p id="visitedCount"><span class="svalue"></span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
