@import url('../../fonts/roboto/font-roboto.css');
// Paths
$path-image: '../images';
$path-font: '../fonts';
$assetPath: "/assets/css";
// Color
$white: #fff;
$black: #000;

$primary-color: #064273;
$secondary-color: #1DA2D8;

$text-color: #333;
$title-color: #222222;
$meta-color: #777777;
$category-color: #f6214b;
$background-color: #ecf0f1;

// Font
$primary-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;

// Breakpoints

/*primary-color: #1667a0*/
/*primary-color: #009970*/