@charset "UTF-8";
/*primary-color: #1667a0*/
/*primary-color: #009970*/
@import url("../../../fonts/roboto/font-roboto.css");
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 80%; } }

/**** Màn hình ipad hiển thị theo chiều ngang (Landscape) ****/
/****Màn hình ipad loại bé hiển thị theo chiều dọc (Portrait)****/
/****Màn hình điện thoại Iphone Plus****/
/****Màn hình điện thoại Iphone****/
/****Màn hình điện thoại loại bé****/
/*@mixin ipad-rotate  {
  @media screen and (max-width: 768px) and (orientation:landscape) { @content; }
}*/
/****Màn hình desktop loại bé****/
/****Màn hình ipad hiển thị theo chiều dọc (Portrait)****/
@font-face {
  font-family: 'Merriweather-Regular';
  src: url("../../../fonts/merriweather/Merriweather-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../../../fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

ul, li {
  list-style: none; }

body {
  color: #333;
  font-family: 'Nunito-Regular', Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #fff; }

p {
  margin: 0 auto; }

a:hover {
  text-decoration: none; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (max-width: 992px) {
  [class*="col-"] {
    /*width: 93% !important;
       flex:none;
        max-width:unset;
        margin-left:1%;*/ } }

/*primary-color: #1667a0*/
/*primary-color: #009970*/
#page-map {
  margin-top: 70px;
  position: relative;
  /*.nav-tabs > li > a:hover {
        border-radius: 0 !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border-top: 4px solid #fc690b;
        color: #00786E;
        background: #fff;
    }

    .nav-tabs > li > a {
        line-height: 12px;
        padding: 9px 12px;
        font-weight: 600;
    }*/ }
  #page-map .expExcel {
    margin-left: 20px;
    color: green; }
  #page-map .ol-zoom {
    display: none !important; }
  #page-map .ol-mouse-position {
    bottom: 8px;
    left: 31%;
    position: absolute;
    top: unset;
    right: unset; }
  #page-map #popup {
    min-width: 400px; }
    #page-map #popup img {
      border: 1px solid #ddd;
      height: auto;
      min-height: 130px;
      padding: 2px;
      width: 99%; }
    #page-map #popup li {
      padding: 5px;
      border: none; }
    #page-map #popup p {
      margin: 2px;
      padding: 2px 8px; }
    #page-map #popup #popup-closer {
      position: absolute;
      right: 10px;
      top: 5px;
      color: #666; }
    #page-map #popup #popup-content {
      font-size: 14px; }
      #page-map #popup #popup-content #pcontent {
        max-height: 250px;
        position: relative; }
      #page-map #popup #popup-content p {
        background-color: #0ca85b;
        color: white;
        font-size: 15px;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        padding-right: 30px; }
      #page-map #popup #popup-content ul {
        padding-left: 10px;
        padding-right: 10px;
        list-style: none;
        margin: 10px 0 20px 0;
        float: left;
        width: 100%; }
  #page-map #pophover {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    padding: 10px;
    display: none; }
  #page-map #featureView {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    padding: 10px;
    bottom: 10px;
    right: 43px;
    width: 370px; }
    #page-map #featureView p {
      line-height: 28px;
      color: #747474; }
      #page-map #featureView p .slabel {
        font-weight: 600; }
  #page-map button[data-balloon], #page-map li[data-balloon] {
    background: none; }
  #page-map #web-nav {
    box-shadow: none !important; }
    #page-map #web-nav .dnav {
      padding: 14px 10px 0px 10px; }
    #page-map #web-nav .topnav {
      margin: 0px auto;
      height: 100%;
      width: auto;
      margin-left: 20%; }
    #page-map #web-nav .logoacud {
      height: 65px; }
  #page-map #web-body {
    /*margin-top: 20px !important;*/
    position: relative; }
    #page-map #web-body #tabLienQuan {
      display: none; }
  #page-map #toolLeft {
    max-width: 25%;
    position: absolute;
    top: -30px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    z-index: 999; }
  #page-map #toolRight {
    position: absolute;
    top: 4px;
    color: #208935;
    right: 20px;
    z-index: 9;
    background: #ffffffab;
    padding: 4px;
    border-radius: 5px; }
    #page-map #toolRight li {
      float: right;
      margin-right: 5px;
      font-size: 20px; }
      #page-map #toolRight li i.fa {
        padding: 5px; }
        #page-map #toolRight li i.fa.active {
          background: #208935;
          color: #fff; }
      #page-map #toolRight li:last-child {
        margin-left: 15px; }
      #page-map #toolRight li .dropdown-menu {
        float: left;
        padding-left: 15px; }
        #page-map #toolRight li .dropdown-menu li {
          color: #333;
          float: left;
          font-size: 14px !important;
          line-height: 30px; }
          #page-map #toolRight li .dropdown-menu li:hover {
            background: none;
            font-weight: 600; }
  #page-map #mapgoogle [href*="https://maps.google.com/"] {
    display: none !important; }
  #page-map #mapgoogle [href*="https://www.google.com"] {
    display: none !important; }
  #page-map #mapgoogle .gmnoprint {
    display: none !important; }
  #page-map #mapgoogle #search-place-google {
    background-image: url(/assets/images/img/ssearch.png);
    background-size: 32px 32px;
    height: 100%;
    width: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: 2px center;
    padding-left: 43px;
    font-size: 14px; }
  #page-map #groupsearch {
    display: none;
    position: absolute;
    top: 47px;
    right: 215px;
    width: 350px; }
    #page-map #groupsearch #searchXY {
      display: none;
      background-image: url(/assets/images/img/ssearch.png);
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: 2px center;
      padding-left: 43px;
      width: 100%;
      position: absolute;
      left: 0px;
      top: -42px;
      height: 36px;
      border: navajowhite;
      border-radius: 2px; }
    #page-map #groupsearch .iconsearch {
      margin-left: 5px;
      cursor: pointer;
      width: 32px; }
  #page-map #mapUtils {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 28px; }
    #page-map #mapUtils #toogleMenu {
      background: transparent !important;
      border: none !important;
      top: 0; }
    #page-map #mapUtils #util-place {
      top: -40px; }
    #page-map #mapUtils #toogleTools {
      border: none;
      float: right;
      right: 40px;
      top: -35px; }
    #page-map #mapUtils #li-base {
      border: none;
      float: right;
      right: 55px;
      top: -35px; }
      #page-map #mapUtils #li-base a {
        color: #555; }
      #page-map #mapUtils #li-base ul li {
        padding-left: 15px; }
    #page-map #mapUtils ul li {
      width: auto;
      cursor: pointer;
      margin-left: 5px;
      height: 35px;
      line-height: 32px;
      position: relative;
      border-right: none; }
    #page-map #mapUtils i {
      font-size: 20px;
      color: #000;
      padding: 4px 5px; }
    #page-map #mapUtils span {
      padding: 10px 10px;
      line-height: 36px;
      font-weight: bold;
      color: #444;
      font-size: 13px; }
    #page-map #mapUtils.mobile #mapUtils {
      display: flex;
      top: 41px;
      left: 0% !important;
      background: rgba(0, 52, 76, 0.8);
      width: 100%; }
      #page-map #mapUtils.mobile #mapUtils ul {
        width: 100%; }
    #page-map #mapUtils #util-place {
      font-size: 12px;
      background: #fff url(/assets/images/img/searchplace.png) no-repeat 4px 2px !important;
      border-radius: 4px; }
    #page-map #mapUtils .mobile #util-place-map {
      display: flex;
      margin-top: -15px;
      margin-left: -42px;
      width: 100%; }
    #page-map #mapUtils #search-place-google {
      margin-left: 42px;
      border: 1px solid #f1f1f1;
      height: 35px;
      width: 244px; }
    #page-map #mapUtils .mobile #search-place-google {
      margin-left: 15%;
      border: none;
      width: 85%;
      height: 100%; }
  #page-map #winPrint {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    z-index: 99999; }
    #page-map #winPrint .modal-dialog {
      width: 100%; }
  #page-map #li-base .dropdown-menu li:hover {
    background: #E2E2E2; }
  #page-map #pLegend li {
    line-height: 13px;
    height: 26px; }
  #page-map #pLegend .legend button {
    border: none; }
  #page-map #pLegend .legend.vector {
    padding: 2px 15px;
    margin-right: 10px;
    vertical-align: bottom; }
  #page-map #pLegend ul {
    padding-left: 10px; }
  #page-map #pLegend .legend img {
    width: 30px;
    height: 17px;
    border: 1px solid #f1f1f1;
    margin-right: 5px;
    padding-right: 0; }
  #page-map .btnClearFilter, #page-map .btnClosePanel {
    float: right !important;
    margin-right: 10px; }
  #page-map .btnClosePanel i {
    color: #fff;
    font-size: 18px;
    padding-top: 8px; }
  #page-map .btnClearFilter i {
    color: #5d5c5c;
    font-size: 18px;
    padding-top: 3px; }
  #page-map .left ul {
    padding-left: 0; }
  #page-map .nav-tabs > li > a {
    line-height: 9px;
    padding: 9px 12px; }
  #page-map #leftPanel {
    position: absolute;
    z-index: 99;
    top: 0px;
    background: #fff;
    width: 30%;
    height: 100%;
    box-shadow: #c7c7c7 1px 1px 2px;
    display: block;
    /*#pHienTrang, #pHoSoTK, #pLegend .content {
            display: none;
        }*/ }
    #page-map #leftPanel.maptonghop {
      width: 25%; }
    #page-map #leftPanel.viewAll {
      width: 80% !important; }
    #page-map #leftPanel.sLayers {
      width: 25%;
      padding-top: 20px; }
    #page-map #leftPanel.detailPoint {
      width: 25%; }
    #page-map #leftPanel.filterResult {
      width: 25%; }
    #page-map #leftPanel .tab-content {
      position: relative; }
    #page-map #leftPanel .title {
      color: #666;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 10px;
      cursor: pointer; }
    #page-map #leftPanel .toggle-btn {
      float: right;
      padding: 0 10px 0 0;
      font-size: 24px; }
    #page-map #leftPanel #filterResult, #page-map #leftPanel #sLayers, #page-map #leftPanel #detailPoint {
      position: relative;
      padding: 0 10px 10px 0; }
      #page-map #leftPanel #filterResult ul, #page-map #leftPanel #sLayers ul, #page-map #leftPanel #detailPoint ul {
        list-style: none; }
    #page-map #leftPanel #tree {
      padding-top: 10px; }
      #page-map #leftPanel #tree ul {
        list-style: none; }
        #page-map #leftPanel #tree ul[gid=RootLayers] {
          padding-left: 10px; }
      #page-map #leftPanel #tree .parent1 {
        padding: 15px 0 5px 0; }
      #page-map #leftPanel #tree .glayer {
        display: none;
        padding-left: 0px; }
        #page-map #leftPanel #tree .glayer li {
          line-height: 35px;
          border-bottom: 1px solid #c4c4c4;
          cursor: pointer; }
          #page-map #leftPanel #tree .glayer li:hover {
            background-color: #fdfff6ba;
            font-weight: 600; }
          #page-map #leftPanel #tree .glayer li p {
            padding-left: 25px; }
      #page-map #leftPanel #tree .open.glayer {
        display: block; }
      #page-map #leftPanel #tree .fas.indicator {
        font-size: 18px;
        float: right; }
      #page-map #leftPanel #tree .ui-state-default, #page-map #leftPanel #tree .ui-widget-content .ui-state-default, #page-map #leftPanel #tree .ui-widget-header .ui-state-default, #page-map #leftPanel #tree .ui-button, #page-map #leftPanel #tree html .ui-button.ui-state-disabled:hover, #page-map #leftPanel #tree html .ui-button.ui-state-disabled:active {
        border: 1px solid orange;
        background: #fff;
        font-weight: normal;
        color: #454545;
        border-radius: 50%; }
    #page-map #leftPanel .menu-list .sub-menu {
      height: 35px;
      text-align: left;
      padding: 7px;
      background-color: #666666;
      border-right: 1px solid;
      border-bottom: 1px solid #fff; }
      #page-map #leftPanel .menu-list .sub-menu.active {
        background-color: #CE352F;
        border-right: none; }
      #page-map #leftPanel .menu-list .sub-menu a {
        color: #fff;
        font-size: 16px; }
        #page-map #leftPanel .menu-list .sub-menu a:hover {
          text-decoration: none; }
    #page-map #leftPanel .menu-list .list-layers {
      list-style: none;
      line-height: 30px;
      padding-left: 20px; }
      #page-map #leftPanel .menu-list .list-layers li {
        cursor: pointer; }
        #page-map #leftPanel .menu-list .list-layers li:hover {
          color: #4CAF50; }
    #page-map #leftPanel .img-scale {
      width: 100%;
      height: auto; }
    #page-map #leftPanel #dChiTiet {
      overflow-y: auto; }
    #page-map #leftPanel #pHienTrang, #page-map #leftPanel #pQuyHoach, #page-map #leftPanel #pHoSoTK {
      min-height: 30px !important;
      height: auto !important; }
      #page-map #leftPanel #pHienTrang .content, #page-map #leftPanel #pQuyHoach .content, #page-map #leftPanel #pHoSoTK .content {
        background-color: rgba(204, 9, 2, 0.5);
        color: #fff;
        height: 100% !important;
        padding-bottom: 20px;
        margin-left: 20px; }
      #page-map #leftPanel #pHienTrang p, #page-map #leftPanel #pQuyHoach p, #page-map #leftPanel #pHoSoTK p {
        line-height: 24px;
        padding-left: 10px;
        font-size: 13px; }
    #page-map #leftPanel #pHoSoTK .content {
      background-color: rgba(130, 199, 255, 0.5);
      margin-bottom: 5px;
      padding: 0; }
      #page-map #leftPanel #pHoSoTK .content ul {
        padding-left: 0;
        margin-bottom: 0; }
        #page-map #leftPanel #pHoSoTK .content ul li {
          padding: 5px 15px; }
    #page-map #leftPanel #dChiTiet {
      overflow-y: auto; }
    #page-map #leftPanel #pVanBan .content {
      background-color: #417CF4;
      color: #fff;
      line-height: 22px; }
      #page-map #leftPanel #pVanBan .content span {
        color: #fff !important;
        cursor: pointer; }
    #page-map #leftPanel #gridVanBan a {
      color: #fff; }
    #page-map #leftPanel #gridVanBan td div {
      background-color: #417CF4; }
    #page-map #leftPanel .btnClearFilter, #page-map #leftPanel .btnClosePanel, #page-map #leftPanel .btnViewAll {
      float: right !important;
      margin-right: 10px; }
      #page-map #leftPanel .btnClearFilter icon, #page-map #leftPanel .btnClosePanel icon, #page-map #leftPanel .btnViewAll icon {
        color: #666;
        font-size: 18px; }
    #page-map #leftPanel .btnViewAll {
      padding: 0 10px; }
    #page-map #leftPanel .btnClearFilter {
      margin-right: 0; }
    #page-map #leftPanel #filterResult p {
      padding: 4px 10px; }
    #page-map #leftPanel #filterResult #tblFilterRS th {
      background: #417CF4;
      color: #fff;
      min-width: 80px; }
      #page-map #leftPanel #filterResult #tblFilterRS th:first-child {
        min-width: 120px; }
    #page-map #leftPanel #filterResult #tblFilterRS tbody tr:first-child td {
      background: #D3E0FB;
      color: #4d4d4d; }
    #page-map #leftPanel #ha-tab {
      margin-top: 0px; }
    #page-map #leftPanel #qhLienQuan {
      position: relative; }
      #page-map #leftPanel #qhLienQuan #listLienQuan {
        list-style: none;
        padding-left: 10px;
        line-height: 30px; }
        #page-map #leftPanel #qhLienQuan #listLienQuan .gLienQuan {
          color: #333;
          font-weight: 600;
          font-size: 16px; }
          #page-map #leftPanel #qhLienQuan #listLienQuan .gLienQuan:hover {
            color: #00786E; }
        #page-map #leftPanel #qhLienQuan #listLienQuan .ulLienQuan {
          padding-left: 15px;
          list-style: none;
          line-height: 32px; }
          #page-map #leftPanel #qhLienQuan #listLienQuan .ulLienQuan li {
            display: flex;
            border-bottom: 1px solid #f1f1f1; }
            #page-map #leftPanel #qhLienQuan #listLienQuan .ulLienQuan li .fa {
              padding-top: 8px;
              padding-right: 10px; }
            #page-map #leftPanel #qhLienQuan #listLienQuan .ulLienQuan li label {
              font-weight: 400;
              cursor: pointer; }
  #page-map .menu-child {
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    line-height: 24px; }
  #page-map .dropdown-menu.child-group {
    position: relative; }
  #page-map #btFilter {
    background: #fff;
    border: 1px solid #f1f1f1; }
  #page-map .tk-search {
    text-align: center;
    margin-top: 20px; }
  #page-map #thongke-panel .filter {
    border-right: 1px solid #f1f1f1; }
  #page-map .UI-DDL, #page-map .gql-ddl, #page-map .ui-button {
    display: flex;
    box-shadow: 1px 2px 5px -2px #ddd inset;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px; }
  #page-map .UI-DDL {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -2px #ddd inset;
    max-width: 100%;
    padding: 6px 5px;
    min-width: 100px;
    margin-right: 3px;
    margin-top: 10px;
    width: 100%; }
  #page-map .UI-DDL i {
    position: absolute;
    right: 5px;
    border-left: 1px solid #ddd;
    padding: 6px 11px; }
  #page-map .UI-TEXT input {
    box-shadow: 1px 2px 5px -2px #ddd inset;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px; }
  #page-map .cms-filter {
    padding: 9px 3px 2px;
    margin: 7px auto;
    border: 1px solid #ddd; }
  #page-map .UI-DDL span, #page-map .gql-ddl .gql-label, #page-map .ui-button {
    padding: 6px 36px 4px 5px;
    background: #fff; }
  #page-map .UI-DROP {
    position: relative;
    display: flex;
    margin-top: 10px; }
  #page-map .ui-nhan, #page-map .gql-label, #page-map .ui-button span {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #page-map .ui-tieude {
    font-size: 12px;
    padding: 7px 7px 4px;
    width: 85px; }
  #page-map #winPrint .modal-dialog {
    width: 100%; }
  #page-map .left ul {
    padding-left: 0; }
  #page-map .nav-tabs {
    background: #00786E;
    border-bottom: 1px solid #8BC34A !important;
    height: 35px;
    color: #fff;
    position: relative; }
    #page-map .nav-tabs li {
      margin-bottom: -1px;
      position: relative;
      display: block;
      padding-top: 6px; }
      #page-map .nav-tabs li span {
        color: #fff; }
      #page-map .nav-tabs li a {
        line-height: 12px;
        padding: 9px 12px;
        font-weight: 600;
        color: #fff; }
        #page-map .nav-tabs li a.active, #page-map .nav-tabs li a:hover {
          border-top: 4px solid #fc690b;
          color: #00786E;
          background: #fff;
          padding-top: 4px;
          padding-bottom: 7px; }
      #page-map .nav-tabs li.btnClosePanel {
        position: absolute;
        right: 2px; }
        #page-map .nav-tabs li.btnClosePanel i {
          padding-top: 2px; }
  #page-map .img-scale {
    width: 100%;
    height: auto; }
  #page-map .menu-child {
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    line-height: 24px; }
  #page-map .dropdown-menu.child-group {
    position: relative; }
  #page-map #btFilter {
    background: #fff;
    border: 1px solid #f1f1f1; }
  #page-map .tk-search {
    text-align: center;
    margin-top: 20px; }
  #page-map #thongke-panel .filter {
    border-right: 1px solid #f1f1f1; }
  #page-map .gql-ddl, #page-map .ui-button {
    display: flex;
    box-shadow: 1px 2px 5px -2px #ddd inset;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px; }
  #page-map .UI-DDL i {
    position: absolute;
    right: 5px;
    border-left: 1px solid #ddd;
    padding: 6px 11px; }
  #page-map .UI-TEXT input {
    box-shadow: 1px 2px 5px -2px #ddd inset;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px; }
  #page-map .cms-filter {
    padding: 9px 3px 2px;
    margin: 7px auto;
    border: 1px solid #ddd; }
  #page-map .UI-DDL span, #page-map .gql-ddl .gql-label, #page-map .ui-button {
    padding: 6px 36px 4px 5px;
    background: #fff; }
  #page-map .UI-DROP {
    position: relative;
    display: flex;
    margin-top: 10px; }
  #page-map .ui-nhan, #page-map .gql-label, #page-map .ui-button span {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #page-map #tk-table {
    margin-top: 20px; }
  #page-map #tk-table th {
    font-weight: 600; }
  #page-map .ui-tieude {
    font-size: 12px;
    padding: 7px 7px 4px;
    width: 85px; }
  #page-map #btn-mobile {
    display: none;
    padding: 9px;
    float: right;
    width: 29px;
    color: #fff; }
  #page-map .on #toggleTool {
    background-position-y: 0px; }
  #page-map #toggleTool {
    display: none;
    background: url(/assets/images/img/toggle.png);
    background-position-y: -32px;
    height: 24px;
    width: 55px;
    background-repeat: no-repeat;
    border: none;
    margin-left: 11px; }
  #page-map .mobile #maptool.on ul, #page-map .mobile #toggleTool {
    display: block; }
  #page-map .mobile #btn-mobile {
    display: block; }
  #page-map .mobile ul .li-mobile {
    display: none; }
  #page-map .mobile .list-inline > li {
    width: 95% !important; }
  #page-map #maptool {
    position: absolute;
    top: 40px;
    right: 11px;
    background: url(/assets/images/img/bg-maptool.png);
    padding: 5px;
    width: 79px;
    height: auto;
    display: none;
    z-index: 9; }
    #page-map #maptool ul {
      padding-left: 0;
      list-style: none; }
    #page-map #maptool li {
      background: url(/assets/images/img/icon-1x.png);
      background-repeat: no-repeat;
      cursor: pointer;
      margin-top: 10px;
      width: 32px;
      height: 32px; }
    #page-map #maptool li.active {
      background-position-x: -50px !important; }
    #page-map #maptool #icon-fullScreen {
      background-position-y: 0px; }
    #page-map #maptool #icon-selectOne {
      background-position-y: -150px !important; }
    #page-map #maptool #icon-selectMany {
      background-position-y: -200px !important; }
    #page-map #maptool #icon-pan {
      background-position-y: -250px !important; }
    #page-map #maptool #icon-pin {
      background-position-y: -300px !important; }
    #page-map #maptool #icon-location {
      background-position-y: -350px !important; }
    #page-map #maptool #location {
      background: url(/assets/images/img/dinhvi_map.png) !important;
      background-position: 0;
      width: 32px !important;
      margin-top: -1px;
      float: right;
      height: 32px !important; }
    #page-map #maptool #icon-zoomIn {
      background-position-y: -400px !important; }
    #page-map #maptool #icon-zoomOut {
      background-position-y: -450px !important; }
    #page-map #maptool #icon-measure {
      background-position-y: -500px !important; }
    #page-map #maptool #icon-area {
      background-position-y: -550px !important; }
    #page-map #maptool #icon-exportmap {
      background-position-y: -600px !important; }
    #page-map #maptool #icon-print {
      background-position-y: -650px !important; }
    #page-map #maptool #icon-filter {
      background-position-y: -700px !important; }
    #page-map #maptool #icon-legend {
      background-position-y: -750px !important; }
    #page-map #maptool #icon-identify {
      background-position-y: -800px !important; }
    #page-map #maptool #icon-duan {
      background-position-y: -850px !important; }
  #page-map #webtop {
    position: fixed;
    margin-top: 0px;
    z-index: 999;
    width: 100%;
    background: #2c56a5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2c56a5 0%, #207cca 36%, #64a3d6 63%, #a5c9e5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c56a5 0%, #207cca 36%, #64a3d6 63%, #a5c9e5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2c56a5 0%, #207cca 36%, #64a3d6 63%, #a5c9e5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c56a5', endColorstr='#a5c9e5',GradientType=0 );
    /* IE6-9 */ }
  #page-map #li-hatang ul, #page-map #li-dinhhuong ul {
    display: none; }
  #page-map #li-sdd li.active, #page-map #li-hatang li.active, #page-map #li-dinhhuong li.active {
    background: #ddd; }
  #page-map #mapName {
    position: absolute;
    bottom: 14px;
    right: 6%;
    font-size: 27px;
    color: #444;
    height: 36px;
    text-shadow: 1px 1px #fff; }
  #page-map .iuser .dropdown-menu {
    left: 33px !important;
    padding: 0px !important;
    position: absolute; }
  #page-map .iuser li {
    padding: 0 6px !important;
    height: 32px !important; }
  #page-map .iuser li a {
    padding: 0 6px !important; }
  #page-map element {
    left: 20px; }
  #page-map #winSearch {
    display: none;
    position: absolute;
    z-index: 98;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    top: 35px;
    right: 95px;
    padding: 11px;
    /*.fa-check*/ }
    #page-map #winSearch .ui-nhan {
      background: transparent !important;
      border: none !important;
      width: 100%;
      padding: 11px !important;
      height: 35px; }
    #page-map #winSearch .winlayer-a {
      background: #fafafa url(/assets/images/img/searchlayer.png) no-repeat scroll 7px 6px;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #fff;
      font-size: 13px;
      padding: 5px 3px 4px 29px; }
    #page-map #winSearch .winsearch-footer {
      height: 50px;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-left: -10px;
      border-top: 1px solid #f1f1f1; }
    #page-map #winSearch .winsearch-footer button {
      background: #fff;
      border: 1px solid #e0e4e9;
      margin-left: 20px;
      height: 25px;
      margin-top: 5px;
      width: auto;
      border-radius: 4px;
      color: #514f4f;
      font-weight: 600; }
    #page-map #winSearch label {
      color: #555;
      font-size: 0.9em; }
    #page-map #winSearch span:not(.operator) {
      background: #ddd none repeat scroll 0 0;
      border: 1px solid #ccc;
      padding: 0 7px; }
    #page-map #winSearch .operator {
      color: #337ab7;
      font-size: 0.9em;
      font-weight: normal; }
    #page-map #winSearch .oNumber {
      display: inline; }
      #page-map #winSearch .oNumber li {
        padding: 0px 3px;
        border: 1px solid #ddd;
        border-radius: 2px;
        width: 20px;
        height: 20px;
        margin-left: 3PX;
        display: inline;
        vertical-align: middle; }
        #page-map #winSearch .oNumber li.active {
          background-color: lemonchiffon; }
    #page-map #winSearch i {
      color: #000;
      padding: 6px; }
    #page-map #winSearch #fieldTool {
      display: none;
      position: relative; }
    #page-map #winSearch .ha-inline {
      display: flex;
      position: relative;
      margin: 3px auto;
      border-bottom: 1px solid #ddd;
      width: 100%; }
    #page-map #winSearch ul.dropdown-menu {
      font-size: 12px;
      width: 100%;
      max-height: 350px;
      overflow-y: auto; }
    #page-map #winSearch #spatialTool {
      border-bottom: 1px solid #ddd;
      height: 40px; }
      #page-map #winSearch #spatialTool button[v*="Polygon"], #page-map #winSearch #spatialTool button.active[v*="Polygon"] {
        background-position: 4px 5px; }
      #page-map #winSearch #spatialTool button[v*="Circle"], #page-map #winSearch #spatialTool button.active[v*="Circle"] {
        background-position: -51px 5px; }
      #page-map #winSearch #spatialTool button[v*="Line"], #page-map #winSearch #spatialTool button.active[v*="Line"] {
        background-position: -25px 5px; }
      #page-map #winSearch #spatialTool button[v*="Point"], #page-map #winSearch #spatialTool button.active[v*="Point"] {
        background-position: -78px 5px; }
      #page-map #winSearch #spatialTool button[v*="Box"], #page-map #winSearch #spatialTool button.active[v*="Box"] {
        background-position: -103px 5px; }
      #page-map #winSearch #spatialTool #spatialOption input {
        box-shadow: 0 2px 8px -3px #ccc inset;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 25px; }
      #page-map #winSearch #spatialTool button.active {
        background: #FFD200 url(/assets/images/img/spatial.png) no-repeat scroll 0 0; }
      #page-map #winSearch #spatialTool button:hover {
        background-color: #f9f9f9; }
      #page-map #winSearch #spatialTool button {
        background: transparent url(/assets/images/img/spatial.png) no-repeat scroll 0 0;
        padding: 13px;
        margin-top: 4px;
        margin-right: 5px;
        border: 1px solid #ddd;
        border-radius: 3px; }
    #page-map #winSearch .fa.fa-check, #page-map #winSearch .fa.fa-circle-thin {
      color: #555;
      cursor: pointer;
      margin: 6px auto;
      border: 1px solid #ddd;
      border-radius: 50%; }
    #page-map #winSearch .fa-circle-thin {
      color: transparent !important; }
    #page-map #winSearch #attTool {
      border-bottom: 1px solid #ddd; }
    #page-map #winSearch input {
      font-size: 12px;
      padding: 0 7px;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 100%;
      height: 27px; }
    #page-map #winSearch .UI-DDL {
      display: unset; }
  #page-map .generateAuto {
    background: #fff none repeat scroll 0 0;
    float: left;
    overflow-y: hidden;
    transition: all 0.3s ease 0s; }
  #page-map #gvSuggest {
    margin-left: -11px;
    border: 1px solid #ddd;
    width: 371px; }
  #page-map #gvSuggestContent > div {
    height: 43px; }
  #page-map .autocomplete div p {
    display: inline-block;
    color: #555;
    padding: 7px 7px 6px 11px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1000; }
  #page-map .suggest-ten i {
    padding-left: 1px;
    padding-right: 14px; }
  #page-map .suggest-ten {
    font-size: 13px;
    font-weight: bold;
    color: #000; }
  #page-map .suggest-diachi {
    color: #666; }
  #page-map .cls-search {
    background-image: url(/assets/images/img/ic-search.png);
    background-position: 8px -53px;
    background-repeat: no-repeat; }
  #page-map .cls-search:hover, #page-map .selected .cls-search {
    background-position: 8px 13px; }
  #page-map .autocomplete .selected {
    background-color: #f3f8f3; }
  #page-map #measure {
    display: none;
    position: absolute;
    bottom: 3px;
    right: 50px;
    background: #f9f9f9 none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    padding: 5px;
    border-radius: 2px;
    width: 292px;
    height: 42px;
    z-index: 1000; }
  #page-map .mapname p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding: 17px 0 5px;
    text-shadow: 2px 1px #fff; }
  #page-map .searchBox {
    position: absolute;
    background: #fff url(/assets/images/img/searchplace.png);
    background-position: 4px 3px;
    background-repeat: no-repeat;
    padding-left: 43px;
    padding-right: 6px;
    margin-top: 2px;
    margin-left: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    width: 250px;
    height: 37px;
    font-size: 12px; }
  #page-map #btMenu {
    display: none; }
  #page-map .ulogin {
    float: left;
    width: 100%;
    height: 48px; }
  #page-map .ulogin a {
    color: brown;
    cursor: pointer;
    padding: 0px 6px !important;
    line-height: 38px; }
  #page-map #imageMap {
    position: absolute;
    display: none; }
  #page-map #modalGioiThieu iframe {
    width: 100%;
    height: 90%;
    border: none; }
  #page-map #modalGioiThieu .modal-dialog {
    width: 80%;
    height: 90%; }
  #page-map #mapName .qd {
    font-size: 12px;
    font-style: italic; }
  #page-map #mapName .mapname {
    font-size: 14px;
    font-weight: bold; }
  #page-map #mapName p {
    text-align: right; }
  #page-map .a-menu.showilogin {
    display: none; }
  #page-map .logined.showilogin {
    display: block; }
  #page-map .ilogin {
    margin-top: 3px; }
  #page-map #dLegend .symbol {
    float: left;
    width: 75%; }
  #page-map #dLegend img {
    width: 100%;
    height: auto; }
  #page-map #sMenu {
    display: none;
    position: fixed;
    top: 78px;
    left: 19px;
    background-color: #fff;
    overflow-y: auto;
    width: 25%;
    z-index: 9999; }
  #page-map .menu_parent0 span {
    font-size: 16px;
    font-weight: bold;
    color: brown;
    cursor: pointer;
    padding: 10px; }
  #page-map #sliderCompare {
    position: absolute;
    right: 54px;
    top: 45px;
    background: #ffffff96;
    width: 330px;
    float: left;
    height: 87px;
    display: none; }
    #page-map #sliderCompare .ui-nhan {
      width: 100%; }
    #page-map #sliderCompare #Slider {
      width: 90%;
      margin: 10px 5%; }
  @media only screen and (max-width: 768px) {
    #page-map #mapgoogle {
      top: -48px !important;
      width: 250px !important;
      z-index: 9999; }
    #page-map #toolRight {
      width: 30px !important;
      z-index: 9;
      color: #333 !important;
      top: 10px !important;
      float: left !important;
      background: rgba(164, 161, 161, 0.3);
      right: 11px; }
      #page-map #toolRight li {
        text-align: center;
        margin-right: 6px;
        line-height: 30px; }
        #page-map #toolRight li #toogleTools {
          margin-top: 6px; }
        #page-map #toolRight li #li-base {
          margin-bottom: 6px; }
          #page-map #toolRight li #li-base .dropdown-menu {
            z-index: 10;
            right: 25px !important;
            top: 0px !important; }
            #page-map #toolRight li #li-base .dropdown-menu li {
              font-size: 14px !important; }
    #page-map #maptool {
      top: 73px; }
    #page-map #leftPanel {
      top: 0 !important; }
    #page-map #ha-tab {
      margin-left: 0 !important; } }
