@charset "UTF-8";
/*primary-color: #1667a0*/
/*primary-color: #009970*/
@import url("../../../fonts/roboto/font-roboto.css");
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 80%; } }

/**** Màn hình ipad hiển thị theo chiều ngang (Landscape) ****/
/****Màn hình ipad loại bé hiển thị theo chiều dọc (Portrait)****/
/****Màn hình điện thoại Iphone Plus****/
/****Màn hình điện thoại Iphone****/
/****Màn hình điện thoại loại bé****/
/*@mixin ipad-rotate  {
  @media screen and (max-width: 768px) and (orientation:landscape) { @content; }
}*/
/****Màn hình desktop loại bé****/
/****Màn hình ipad hiển thị theo chiều dọc (Portrait)****/
@font-face {
  font-family: 'Merriweather-Regular';
  src: url("../../../fonts/merriweather/Merriweather-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../../../fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

ul, li {
  list-style: none; }

body {
  color: #333;
  font-family: 'Nunito-Regular', Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #fff; }

p {
  margin: 0 auto; }

a:hover {
  text-decoration: none; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left; }

@media only screen and (max-width: 992px) {
  [class*="col-"] {
    /*width: 93% !important;
       flex:none;
        max-width:unset;
        margin-left:1%;*/ } }

/*primary-color: #1667a0*/
/*primary-color: #009970*/
* {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("../../../images/portal/trangchu-overlay.png"); }

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; }

.user_card {
  width: 1000px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f5ae3e;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; }
  .user_card .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white; }
  .user_card .form_container {
    margin-top: 20px; }
    .user_card .form_container .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important; }
      .user_card .form_container .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important; }
    .user_card .form_container .login_container {
      padding: 0 2rem; }
    .user_card .form_container .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #c0392b !important; }
    .user_card .form_container form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4fr 0.2fr 1fr;
      gap: 5px 20px; }
      .user_card .form_container form .userInfo {
        grid-column: 1/2;
        grid-row: 1/2; }
      .user_card .form_container form .kcnInfo {
        grid-column: 2/3;
        grid-row: 1/2; }
      .user_card .form_container form .checkAgree {
        grid-column: 1/3;
        grid-row: 2/3; }
      .user_card .form_container form .submitBtn {
        grid-column: 1/3;
        grid-row: 3/4; }
