@charset "UTF-8";
/*primary-color: #1667a0*/
/*primary-color: #009970*/
@import url("../../../fonts/roboto/font-roboto.css");
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 80%; } }

/**** Màn hình ipad hiển thị theo chiều ngang (Landscape) ****/
/****Màn hình ipad loại bé hiển thị theo chiều dọc (Portrait)****/
/****Màn hình điện thoại Iphone Plus****/
/****Màn hình điện thoại Iphone****/
/****Màn hình điện thoại loại bé****/
/*@mixin ipad-rotate  {
  @media screen and (max-width: 768px) and (orientation:landscape) { @content; }
}*/
/****Màn hình desktop loại bé****/
/****Màn hình ipad hiển thị theo chiều dọc (Portrait)****/
@font-face {
  font-family: 'Merriweather-Regular';
  src: url("../../../fonts/merriweather/Merriweather-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../../../fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

ul, li {
  list-style: none; }

body {
  color: #333;
  font-family: 'Nunito-Regular', Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #fff; }

p {
  margin: 0 auto; }

a:hover {
  text-decoration: none; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left; }

@media only screen and (max-width: 992px) {
  [class*="col-"] {
    /*width: 93% !important;
       flex:none;
        max-width:unset;
        margin-left:1%;*/ } }

/*primary-color: #1667a0*/
/*primary-color: #009970*/
* {
  box-sizing: border-box; }

#bando {
  display: inline-flex;
  height: calc(100vh - 75px);
  width: 100%;
  /* start : Measure styling */
  /* end : Measure styling */ }
  #bando .myradio, #bando .mycheckbox {
    margin-left: 15px; }
  #bando .map {
    height: 100%; }
    #bando .map .lengthButtonDiv {
      margin: 50px 5px 5px 0px; }
      #bando .map .lengthButtonDiv button {
        color: #828282;
        height: 30px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
        #bando .map .lengthButtonDiv button:hover, #bando .map .lengthButtonDiv button.clicked {
          color: #fff;
          background-color: #828282; }
        #bando .map .lengthButtonDiv button i {
          vertical-align: middle; }
    #bando .map .areaButtonDiv {
      margin: 5px 5px 5px 0px; }
      #bando .map .areaButtonDiv button {
        color: #828282;
        height: 30px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
        #bando .map .areaButtonDiv button:hover, #bando .map .areaButtonDiv button.clicked {
          color: #fff;
          background-color: #828282; }
        #bando .map .areaButtonDiv button i {
          vertical-align: middle; }
  #bando #leftpanel {
    height: 100%;
    width: 35%;
    background: #fff;
    border-right: 6px solid #cccccc87;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 100; }
    #bando #leftpanel .title {
      text-align: center;
      padding: 10px;
      border-bottom: 2px solid #ddd;
      font-weight: bold; }
    #bando #leftpanel .layers .filter_kcn .search {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      margin: 5px 10px; }
      #bando #leftpanel .layers .filter_kcn .search .form-control {
        border-radius: .25rem 0 0 .25rem;
        height: 32px;
        font-size: 12px; }
      #bando #leftpanel .layers .filter_kcn .search .form-control:active, #bando #leftpanel .layers .filter_kcn .search .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #66D37E;
        z-index: 0; }
      #bando #leftpanel .layers .filter_kcn .search button {
        height: 32px;
        width: 32px;
        border-radius: 0 5px 5px 0;
        box-shadow: none;
        background-color: #28a745;
        border-color: #28a745; }
        #bando #leftpanel .layers .filter_kcn .search button i {
          font-size: 14px; }
        #bando #leftpanel .layers .filter_kcn .search button:active {
          color: #66D37E;
          background-color: rgba(0, 0, 0, 0.1); }
    #bando #leftpanel .layers .layer {
      background-color: #ddd;
      border-radius: 5px;
      border: 1px solid #000;
      margin: 5px; }
      #bando #leftpanel .layers .layer .layer_header {
        display: flex;
        border: 1px solid #ddd;
        align-items: center;
        cursor: pointer; }
        #bando #leftpanel .layers .layer .layer_header:hover {
          background-color: #efefef; }
        #bando #leftpanel .layers .layer .layer_header p {
          margin: 5px 15px;
          flex-grow: 1; }
        #bando #leftpanel .layers .layer .layer_header .layer_tools {
          margin-right: 5px;
          display: flex; }
          #bando #leftpanel .layers .layer .layer_header .layer_tools > i {
            margin: 0 2px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px 0;
            cursor: pointer;
            height: 28px;
            width: 28px;
            text-align: center;
            align-items: center;
            background-color: #f8f9fa; }
            #bando #leftpanel .layers .layer .layer_header .layer_tools > i:hover {
              border-color: aqua; }
            #bando #leftpanel .layers .layer .layer_header .layer_tools > i:active {
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              border-color: #33bcbc; }
      #bando #leftpanel .layers .layer .layer_body .gr_items {
        display: flex; }
        #bando #leftpanel .layers .layer .layer_body .gr_items .thongke {
          text-align: right;
          margin-right: 5px;
          border: 1px solid #ddd;
          border-radius: 5px;
          background-color: #f8f9fa;
          height: 26px;
          width: 26px;
          text-align: center;
          line-height: 26px;
          cursor: pointer;
          align-self: center; }
          #bando #leftpanel .layers .layer .layer_body .gr_items .thongke:hover {
            border-color: aqua; }
          #bando #leftpanel .layers .layer .layer_body .gr_items .thongke:active {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-color: #33bcbc; }
      #bando #leftpanel .layers .layer .layer_body .layer_items {
        padding: 5px 0 5px 40px;
        cursor: pointer;
        display: flex;
        flex-grow: 1; }
        #bando #leftpanel .layers .layer .layer_body .layer_items span {
          flex-grow: 1; }
        #bando #leftpanel .layers .layer .layer_body .layer_items:hover {
          background-color: #efefef; }
        #bando #leftpanel .layers .layer .layer_body .layer_items i {
          line-height: 22px;
          margin-right: 3px; }
      #bando #leftpanel .layers .layer .layer_body .layer_items_lv2 {
        padding: 5px 0 5px 40px;
        cursor: pointer; }
        #bando #leftpanel .layers .layer .layer_body .layer_items_lv2 .layer_body1 .layer_items1 {
          padding: 3px 0 3px 40px;
          cursor: pointer; }
          #bando #leftpanel .layers .layer .layer_body .layer_items_lv2 .layer_body1 .layer_items1:hover {
            background-color: #efefef; }
  #bando #rightpanel {
    height: calc(100vh - 75px);
    width: 100%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0; }
    #bando #rightpanel .mybutton {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 10px; }
      #bando #rightpanel .mybutton .BaseMap button.switcher {
        height: 32px;
        width: 32px;
        background-image: url("../../../images/Bando/layerswitch.png");
        background-size: 1em;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        border: none; }
  #bando #modalBasemap {
    position: absolute;
    /*}*/ }
    #bando #modalBasemap .modal-content {
      position: absolute;
      width: 250px;
      top: 55px;
      right: 10px; }
      #bando #modalBasemap .modal-content .modal-header {
        padding: 10px 20px; }
      #bando #modalBasemap .modal-content .modal-body .panel .panel-body {
        display: flex;
        justify-content: space-around; }
        #bando #modalBasemap .modal-content .modal-body .panel .panel-body .BaseItem img {
          border-radius: 15px;
          width: 48px;
          height: 48px;
          cursor: pointer; }
          #bando #modalBasemap .modal-content .modal-body .panel .panel-body .BaseItem img:hover {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
          #bando #modalBasemap .modal-content .modal-body .panel .panel-body .BaseItem img:active {
            box-shadow: none;
            border: 1px solid #20c997; }
        #bando #modalBasemap .modal-content .modal-body .panel .panel-body .BaseItem.active img {
          box-shadow: none;
          border: 3px solid #20c997; }
        #bando #modalBasemap .modal-content .modal-body .panel .panel-body .BaseItem p {
          text-align: center; }
  #bando #modalInfokcn {
    position: absolute;
    /*}*/ }
    #bando #modalInfokcn .modal-content {
      position: absolute;
      width: 1000px;
      min-height: 650px;
      top: 100px;
      right: 180px; }
      #bando #modalInfokcn .modal-content .modal-header {
        padding: 10px 20px; }
      #bando #modalInfokcn .modal-content .modal-body .panel .panel-body {
        display: flex;
        justify-content: space-around;
        flex-direction: column; }
        #bando #modalInfokcn .modal-content .modal-body .panel .panel-body .tenKCN h3 {
          text-align: center; }
  #bando #myDataView {
    position: absolute;
    height: 400px;
    right: 0;
    bottom: 0;
    left: 26%;
    background-color: #f8f9fa;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; }
    #bando #myDataView .DataView-content {
      padding: 5px; }
      #bando #myDataView .DataView-content .DataView-header {
        display: flex;
        border-bottom: 1px solid #9cc0f9;
        padding: 5px;
        background-color: #fff; }
        #bando #myDataView .DataView-content .DataView-header .header-bar {
          flex-grow: 1;
          display: flex; }
          #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_modal-title {
            white-space: nowrap; }
          #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search {
            display: flex;
            flex-wrap: nowrap;
            width: auto;
            margin: 0px 10px; }
            #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search .form-control {
              height: 32px;
              font-size: 12px;
              border-radius: .25rem 0 0 .25rem; }
            #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search .form-control:active, #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search .form-control:focus {
              outline: none;
              box-shadow: none;
              border-color: #66D37E;
              z-index: 0; }
            #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search button {
              height: 32px;
              width: 32px;
              border-radius: 0 5px 5px 0;
              box-shadow: none;
              background-color: #28a745;
              border-color: #28a745; }
              #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search button i {
                font-size: 14px; }
              #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_search button:active {
                color: #66D37E;
                background-color: rgba(0, 0, 0, 0.1); }
          #bando #myDataView .DataView-content .DataView-header .header-bar #myDataView_page_navigation {
            display: flex;
            justify-content: center; }
            #bando #myDataView .DataView-content .DataView-header .header-bar #myDataView_page_navigation a {
              color: black;
              float: left;
              padding: 4px 8px;
              text-decoration: none;
              transition: background-color .3s;
              border: 1px solid #ddd;
              margin: 0 4px;
              border-radius: 5px;
              cursor: pointer; }
              #bando #myDataView .DataView-content .DataView-header .header-bar #myDataView_page_navigation a.active_page {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50; }
              #bando #myDataView .DataView-content .DataView-header .header-bar #myDataView_page_navigation a:hover:not(.active) {
                background-color: #ddd; }
          #bando #myDataView .DataView-content .DataView-header .header-bar .active_page {
            background: #555;
            color: #fff; }
          #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_total {
            white-space: nowrap; }
            #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_total span {
              line-height: 32px;
              color: #6c757d; }
          #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_excels {
            color: #28a745;
            line-height: 32px;
            font-size: 24px;
            margin: 0 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 0 4px;
            cursor: pointer; }
            #bando #myDataView .DataView-content .DataView-header .header-bar .myDataView_excels:hover {
              background-color: #ddd; }
      #bando #myDataView .DataView-content .DataView-body .DataView-body-content {
        overflow: auto;
        height: 340px; }
        #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView {
          border-collapse: collapse;
          margin: 5px 0;
          font-size: 0.9em;
          font-family: sans-serif;
          width: 100%; }
          #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView thead tr {
            text-align: left;
            width: 100%; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView thead tr .fa-sort {
              cursor: pointer; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView thead tr th {
              background-color: #009879;
              color: #ffffff;
              position: sticky !important;
              top: 0; }
          #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView th,
          #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView td {
            padding: 5px;
            border: none;
            text-align: left; }
          #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr {
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid #dddddd; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr:nth-of-type(even) {
              background-color: #f3f3f3; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr:last-of-type {
              border-bottom: 2px solid #009879; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr:hover {
              background-color: rgba(0, 0, 0, 0.1); }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr td button {
              color: #fff;
              width: 33px;
              height: 33px; }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr.selected {
              background-color: rgba(0, 0, 0, 0.1); }
            #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr .fa-map-marker-alt {
              cursor: pointer; }
              #bando #myDataView .DataView-content .DataView-body .DataView-body-content .table_dataView tbody tr .fa-map-marker-alt:hover {
                color: #ffc107; }
  #bando #area {
    margin-left: 15px; }
  #bando .mousePosition {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 5px;
    left: 60%;
    transform: translateX(-50%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; }
  #bando .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px; }
    #bando .ol-popup:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px; }
    #bando .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px; }
    #bando .ol-popup .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px; }
      #bando .ol-popup .ol-popup-closer:after {
        content: "✖"; }
    #bando .ol-popup #popup-content {
      display: flex;
      flex-direction: column; }
      #bando .ol-popup #popup-content p {
        margin: 5px; }
  #bando .myButton {
    background-color: rgba(22, 85, 167, 0.6);
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 30px;
    border-radius: 2px;
    border: none;
    align-items: center;
    margin: 0px 5px; }
  #bando .myButton:hover {
    background-color: #003c88; }
  #bando .myButton.clicked {
    background-color: rgba(22, 170, 35, 0.8); }
  #bando .myButton.clicked:hover {
    background-color: #16aa23; }
  #bando .homeButtonDiv {
    position: relative;
    display: block;
    margin: 10px auto auto 10px;
    text-align: right; }
  #bando .fsButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    text-align: right; }
  #bando .featureInfoDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    text-align: right; }
  #bando .lengthButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    text-align: right; }
  #bando .areaButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
    text-align: right; }
  #bando .ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px; }
  #bando .ol-tooltip-measure {
    opacity: 1;
    font-weight: bold; }
  #bando .ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white; }
  #bando .ol-tooltip-measure:before,
  #bando .ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%; }
  #bando .ol-tooltip-static:before {
    border-top-color: #ffcc33; }
  #bando .ol-dragbox {
    border: 2px dashed grey;
    background-color: rgba(200, 200, 200, 0.6); }
  #bando .ziButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px; }
  #bando .zoButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px; }
  #bando .myButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px; }
  #bando .attQueryDiv {
    position: absolute;
    display: none;
    margin: 70px auto auto 45px;
    /* padding: 10px; */
    width: 250px;
    /* height: 250px; */
    background-color: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 0px 15px rgba(252, 213, 213, 0.5);
    /* z-index: 4; */
    /* overflow: scroll; */ }
    #bando .attQueryDiv select {
      width: 225px;
      height: 35px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      margin: 0px auto 0px 10px; }
    #bando .attQueryDiv input {
      width: 225px;
      height: 35px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      margin: 0px auto 0px 10px; }
    #bando .attQueryDiv label {
      color: grey;
      margin: 10px 10px 0px 10px; }
    #bando .attQueryDiv label:nth-child(1) {
      margin: 10px;
      font-weight: bold; }
  #bando #headerDiv {
    background-color: midnightblue;
    height: 35px; }
    #bando #headerDiv label {
      color: white; }
  #bando .attQryRun {
    color: white;
    background-color: green;
    border-radius: 3px;
    border: 1px solid darkgreen;
    height: 35px;
    width: 50px;
    margin: 10px; }
  #bando .attListDiv {
    position: absolute;
    display: none;
    margin: 350px auto auto 350px;
    /* padding: 10px; */
    width: auto;
    max-width: 750px;
    /* height: auto; */
    /* max-height: 250px; */
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    /* z-index: 5; */
    overflow: scroll; }
  #bando #attQryTable {
    padding: 0;
    border-collapse: collapse; }
    #bando #attQryTable th {
      color: white;
      background-color: midnightblue;
      position: sticky;
      top: 0;
      font-style: normal;
      padding: 5px 10px 5px 10px; }
    #bando #attQryTable tr:hover {
      background-color: lightgrey; }
  #bando #attQryTable, #bando td, #bando th {
    padding: 0px 5px 0px 5px;
    border: 1px solid black; }

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
  color: var(--primary); }
