
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section Styles {
    <link href="~/assets/sass/portal/pages/map_login.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/assets/js/portal/map_login.js"></script>
}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input id="input_taikhoan" type="text" name="" class="form-control input_user" value="" placeholder="tài khoản">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input id="input_password" type="password" name="" class="form-control input_pass" value="" placeholder="mật khẩu">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Ghi nhớ đăng nhập</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button id="login_btn" type="button" name="button" class="btn login_btn">Đăng nhập</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Chưa có tài khoản? <a id="signUpNow" href="#" class="ml-2">Đăng ký</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a ref="register" href="~/register">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
@*@Html.Partial("~/Views/Shared/_Footer_Map.cshtml")*@
